body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

body {
    background-color: lightcyan;
}

h1, h2 {
    color: darkblue;
    font-family: Impact;
}

#p1 {
    font-weight: 600;
    color: darkblue;
}

#im1 {
    float: left;
}

.header {
    text-align: center;
}

p b {
    color: darkgreen;
}

p {
    font-size: 16px;
    font-family: Times New Roman;
    color: #330033;
    line-height: 130%;
    text-indent: 30px;
}

ul li {
    color: darkgreen;
    font-weight: 600;
}

img {
    display: block;
    margin: auto;
    height: 40px;
    width: 80px;
}

.block {
    margin-left: 60px;
}

.jumbotron {
    background-color: lightskyblue;
}

h5 {
    color: aqua;
}